
.Dashboard__container {
    margin: auto;
    text-align: center;
}
.Dashboard__form {
    text-align: left;
    margin: auto;
    padding: 1rem 1.5rem;
    max-width: 400px;
    color: #fff;
    background-color: #3288f8;
    border-radius: 5px;
}

.Dashboard__formInput {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}