.LandingPage__container {
    padding: 1.5rem;
    background-color: #faf5e4;
    height: 100vh;

    hr.new2 {
        border-top: 1px solid #3b3c36;
    }

    .LandingPage__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .LandingPage__instrucciones{
        text-align: center;
    }
    .LandingPage__inputBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        select {
            border: none;
            padding: 0.4rem;
            border-radius: 6px;
            font-size: 1rem;
            min-width: 10rem;
            box-shadow: 3px 3px 3px #7a7a7a;
        }
    }
    
    .btn {
        
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #004445;
        border: none;
        border-radius: 8px;
        color: #fff;
        min-width: 6rem;
        font-size: 1rem;
        box-shadow: 3px 3px 6px #7a7a7a ;
        text-align: center;
        text-decoration-line: none;
    }
}