.Product__Box {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 80%;
    box-shadow: 3px 3px 3px #7a7a7a;
    margin: 1rem auto;
    border-radius: 5px;
    img {
        max-width: 100px;
        max-height: 100px;
    }
}
